*{padding: 0;
}

body {
    background-image: url(../img/main-background.jpg);
    margin: 0;
}

header {
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 35% 35% / 70%;
  }
  
  header .main-header {
    width: 100%;
    height: auto;
    padding: 15px;
    color: #FFF;
    text-shadow: 1px 1px 1px #333;
    background-image: url(../img/headerimg.png);
    background-size: cover;
  }
  
  .cooking-kirby {
    width: 100px;
    height: auto;
    margin-bottom: 5px;
  }
  
  .text-header {
    font-size: 30px;
    background-color: rgb(143, 15, 15);
    width: 600px;
    margin: auto;
    border-radius: 50px;
    box-shadow: 0 3px 20px 0 #0000003b;
    padding: 10px 20px;
  }
  
  .main-header .header {
    color: black;
    text-shadow: none;
    font-weight: 550;
  }
  
  .text1 {
    margin-top: 15px;
  }
  
  .smallfoodicon {
    width: 50px;
    height: auto;
    margin-top: 15px;
  }

.main-recipe {
    margin: 20px auto;
    width: 600px;
    height:auto;
    background-color: antiquewhite;
    border-radius: 20px;
    padding: 50px;
    padding-top: 30px;
    border-color: brown;
    border-style: dotted;
    box-sizing: border-box;
}

.title {
    margin: 10px auto;
    text-align: center;
    width: 503px;
    background-color: brown;
    color: beige;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
}

.chicken-parmesan-img {
    width: 500px;
    height: auto;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
    box-shadow: 0 3px 20px 0 #0000003b;
    border: 2px solid whitesmoke;
}

.chicken-par {
    height:130px;
}

.images-food {
    margin: 0 -50px;
    display:flex;
    justify-content: space-between;
    padding: 0 35px;
    margin-bottom:20px;
}

.smallicon {
    display: flex;
}

.smallfoodicon {
    width: 40px;
    height:auto;
    margin:15px auto -15px auto;
}


.red {
    font-weight:700;
    color: brown;
}

h2, h3 {
    text-decoration:underline;
}

h3 {
    text-align:center;
    margin-bottom:-10px;
}

.notes{
    text-align:justify;
}

hr {
    height:3px;
    background-color:brown;
    border:none;
    margin-bottom: -10px;
}

li {
    margin-bottom: 5px;
}

ol {
    text-align: justify;
}

ol > li::marker {
    font-weight: bold;
  }

.ordered {
    padding-left: 10px;
}

.home {
    background-color:brown;
    border-radius:3px;
    text-align:center;
    font-size:large;
    font-weight:700;
}

a {
    text-decoration:none;
    color:white;
}

footer {
    background-image: url(../img/headerimg.png);
    background-size: cover;
    font-size: 15px;
    font-weight: 550;
    padding: 15px;
    text-align: center;
    position:static;
    margin: 15px 0px 0px;
    right: 0;
    left: 0;
    bottom: 0;
  }