body {
    background-image: url(./img/background-page.avif);
    background-size: 60%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

#corners1 {
    margin: auto;
    border-radius: 25px;
    background: #f5a1b6;
    padding: 30px; 
    width: 600px;
    height: 520px;
    text-align: center;
}

#corners1 .smallbox1 {
    margin: auto;
    border-radius: 5px;
    background: #fff3f6;
    width: 400px;
    height: 40px; 
    padding: 10px;
}

#corners1.smallbox2 {
    padding: 5px;
    padding-bottom: 10px;
    height: 72px;
}

.header1 {
    width: 400px;
    height: auto;
    border-radius: 15px;
    border: white 3px solid;
    box-shadow: 4px 5px 9px -6px rgba(0,0,0,0.75);
}

.recipes {
    margin-top: 15px;
    margin-bottom: auto;
    font-size: 45px;
    color: white;
    text-shadow: 2px 1px 4px rgba(0,0,0,0.43);
}

.hearts-divider {
    margin: auto;
    width: 200px;
    height: auto;
}

.hearts-divider.dark {
    width: 100px;
    height: auto;
}

.kirby-divider {
    margin: auto;
    margin-top: 5px;
    width: 100px;
    height: auto;
}

#corners {
    margin: auto;
    text-align: center;
    border-radius: 25px;
    background: #f5cea1;
    padding: 30px; 
    width: 400px;
    height: 310px;
}

#corners.first {
    margin-right: 90px;
}

#corners.second {
    background: #f59083;
}

#corners.third {
    background: #8cdf90;
    margin-right: 90px;
}

#corners.fourth {
    background: #daa1f5;
}

.recipe {
    width: 300px;
    height: auto;
    border: #fff3f6 3px solid;
    border-radius: 15px;
    box-shadow: 4px 5px 9px -6px rgba(0,0,0,0.75);
}

.recipe.adapt1 {
    height: 220px;
}

#corners .recipe-name {
    font-size-adjust: initial;
    color: black;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.parent {
    padding: 1rem 2rem;
    text-align: center;
  }

#corners.child {
    display: inline-block;
    vertical-align: middle;
}

.end-kirby {
    width: 30px;
    height: auto;
    padding-left: 15px;
    padding-right: 15px;
}